<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0;http://localhost:3000/gui-thong-tin-nguoi-dang-nhap">
    <title></title>
    <script>
        var token = "<%= chuoi_ngau_nhien %>";
        var ten_user_cookie = "<%= username %>";
        var ten_nguoi_dung = "<%= ten_nguoi_dung %>";
        var gioitinh_ = "<%= gioi_tinh %>";
        var email_ = "<%= email %>";
        var nam_sinh = "<%= nam_sinh %>";
        var tenhienthi_ = "<%= ten_hien_thi %>";
        document.cookie = token ;
        document.cookie = "ten user="+ten_user_cookie;
    </script>
</head>
<body>
</body>
</html>